@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
body{
    background: url("clover.jpg") no-repeat center center fixed;
    background-size: cover;
}
#close{
    cursor: pointer; 
  padding: 0.5rem;
  position: absolute;
  top:4%;
  right: 2%;
  transform: translate(0%, -50%);
  background-color: cornsilk;
}
#notice{
    background-color: burlywood;
    padding: 2rem;
}
h1{
    text-align: center;
    font-family: 'Mystery Quest', cursive;
    font-size: 70px;
    color: yellowgreen;
    margin: 0rem;
}
p{
    text-align: center;
    color:grey;
    font-size: 20px;
}
.main-module{
    text-align:left;
   background-color: rgb(128, 255, 0, 0.2);
   margin-right: 25%;
   margin-left: 25%;
   padding: 1rem 0rem 5rem 0rem;
   font-family: 'Berkshire Swash', cursive;
   font-size: 25px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 input{
    margin-bottom: 1.5rem;
    margin-left:10% ;  
}
label{
    margin-left:10% ;
}
.options{
    margin: auto;
    text-align: center;
}
button{
margin:auto;
background-color: black;
color:greenyellow;
border: none;
padding: 0.5rem 1rem;
font-size: 20px;
border-radius: 30%;
text-align: center;
} 
button:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: green;
}
button:disabled{
    cursor: not-allowed;
    opacity: 0.6;
}
.ball-display{
    margin: auto;
    text-align: center;
    
}
#output{
    text-align: center;
    margin:3rem 5rem 0rem 5rem;
    
} 